@using ERPack.Web.Startup
@{
    ViewBag.Title = L("Inventory");
    ViewBag.CurrentPageName = PageNames.IssuedInventoryList;
}
@section scripts
    {
        <environment names="Development">
            <script src="~/view-resources/Views/Inventory/Index.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
        <script src="~/view-resources/Views/Inventory/Index.min.js" asp-append-version="true"></script>
        </environment>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Inventory")</h1>
            </div>
            <div class="col-sm-6">
                <a href="Inventory/IssueInventory" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="InventoryTable" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("IssueCode")</th>
                                        <th>@L("IssueDate")</th>
                                        <th>@L("IssuedBy")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>