@using ERPack.Web.Startup
@{
    ViewBag.Title = L("Estimates");
    ViewBag.CurrentPageName = PageNames.Estimates;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/CRM/Estimates.js" asp-append-version="true"></script>
        <script src="~/common/helpers.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/CRM/Estimates.min.js" asp-append-version="true"></script>
        <script src="~/common/helpers.min.js"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Estimate List</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <ul class="nav nav-tabs primary" id="enqTab">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Enquiry">
                            <i class="fa fa-question-circle"></i> Enquiry
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Estimate">
                            <i class="fa fa-calculator"></i> Estimate
                        </a>
                    </li>
                </ul>
                <div class="tab-content primary">
                    <div class="col-md-6 text-right">
                    </div>
                    <!-- Enquiry Tab -->
                    <div id="Enquiry" class="tab-pane fade show active border rounded-lg mt-3 p-2">
                        <div class="table-responsive">
                            <table id="EnquiryTable" class="table  table-lg nowrap">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" tblId="EnquiryTable" class="chkFile" id="selectEnq"></th>
                                        <th>@L("Enquiry") Id</th>
                                        <th>@L("Design") Id</th>
                                        <th>@L("HighPriority")</th>
                                        <th>@L("Completion") @L("DateTime")</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Estimate Tab -->
                    <div id="Estimate" class="tab-pane fade border rounded-lg mt-3 p-2">
                        <div class="table-responsive">
                            <table id="EstimatesTable" class="table table-lg nowrap">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" tblId="EstimatesTable" class="chkFile" id="selectEst"></th>
                                        <th></th>
                                        <th>@L("Estimate") Id</th>
                                        <th>@L("Customer") @L("Name")</th>
                                        <th>@L("NetAmount")</th>
                                        <th>@L("Date")</th>
                                        <th style="width: 50px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
